In [1]:
from WQB import WQB

In [2]:
wqb = WQB()

{'user': {'id': 'JL40454'}, 'token': {'expiry': 14400.0}, 'permissions': []}

In [23]:
regular = '''data = fnd6_capxv;
regression_neut(regression_neut(group_neutralize(group_zscore(vec_avg(data),sector),bucket(rank(cap),range="0.1,1,0.1")),group_neutralize(group_zscore(cap,sector),bucket(rank(cap),range="0.1,1,0.1"))),ts_ir(returns-group_median(returns,sector),126))'''

# regular = '''close-open'''


def simulation_data(regular):
    return{
        'type': 'REGULAR', 
        'settings':{
            'instrumentType': 'EQUITY', 
            'region': 'USA', 
            'universe': 'TOP3000', 
            'delay': 1, 
            'decay': 0, 
            'neutralization': 'INDUSTRY', 
            'truncation': 0.01, 
            'pasteurization': 'ON', 
            'unitHandling': 'VERIFY', 
            'nanHandling': 'OFF', 
            'language': 'FASTEXPR', 
            'visualization': False,
        }, 
        'regular': regular,  ## 表达式
    }

In [27]:
for i in range(9):
    regular = f'lambda={i/10};lambda*ts_rank((high+low)/close, 20) + (1-lambda)*group_rank(fnd6_capxv/cap, subindustry)' 

    print(wqb.simulate(data))

('n72eeLq', {'id': '2JeBm56Wq4LDahMpjXb83qo', 'type': 'REGULAR', 'settings': {'instrumentType': 'EQUITY', 'region': 'USA', 'universe': 'TOP3000', 'delay': 1, 'decay': 0, 'neutralization': 'INDUSTRY', 'truncation': 0.08, 'pasteurization': 'ON', 'unitHandling': 'VERIFY', 'nanHandling': 'OFF', 'language': 'FASTEXPR', 'visualization': False}, 'regular': '0.382*group_rank(fnd6_capxv / cap , subindustry) + 0.618*group_rank(open/close, subindustry)', 'status': 'COMPLETE', 'alpha': 'n72eeLq'})
('1wdl20J', {'id': '7VvwB5d74kn8PXnG3uRFZG', 'type': 'REGULAR', 'settings': {'instrumentType': 'EQUITY', 'region': 'USA', 'universe': 'TOP3000', 'delay': 1, 'decay': 1, 'neutralization': 'INDUSTRY', 'truncation': 0.08, 'pasteurization': 'ON', 'unitHandling': 'VERIFY', 'nanHandling': 'OFF', 'language': 'FASTEXPR', 'visualization': False}, 'regular': '0.382*group_rank(fnd6_capxv / cap , subindustry) + 0.618*group_rank(open/close, subindustry)', 'status': 'COMPLETE', 'alpha': '1wdl20J'})
('jj0PKle', {'id': '2XmUjR6KT57Icei1eVGIED5', 'type': 'REGULAR', 'settings': {'instrumentType': 'EQUITY', 'region': 'USA', 'universe': 'TOP3000', 'delay': 1, 'decay': 2, 'neutralization': 'INDUSTRY', 'truncation': 0.08, 'pasteurization': 'ON', 'unitHandling': 'VERIFY', 'nanHandling': 'OFF', 'language': 'FASTEXPR', 'visualization': False}, 'regular': '0.382*group_rank(fnd6_capxv / cap , subindustry) + 0.618*group_rank(open/close, subindustry)', 'status': 'COMPLETE', 'alpha': 'jj0PKle'})
('O7ZMdRd', {'id': '4ht0pa7sv4mtbWVwUfNI1A2', 'type': 'REGULAR', 'settings': {'instrumentType': 'EQUITY', 'region': 'USA', 'universe': 'TOP3000', 'delay': 1, 'decay': 3, 'neutralization': 'INDUSTRY', 'truncation': 0.08, 'pasteurization': 'ON', 'unitHandling': 'VERIFY', 'nanHandling': 'OFF', 'language': 'FASTEXPR', 'visualization': False}, 'regular': '0.382*group_rank(fnd6_capxv / cap , subindustry) + 0.618*group_rank(open/close, subindustry)', 'status': 'COMPLETE', 'alpha': 'O7ZMdRd'})
('Z7ndYrn', {'id': '1yU2QWc914QRbYq3JYkpgcY', 'type': 'REGULAR', 'settings': {'instrumentType': 'EQUITY', 'region': 'USA', 'universe': 'TOP3000', 'delay': 1, 'decay': 4, 'neutralization': 'INDUSTRY', 'truncation': 0.08, 'pasteurization': 'ON', 'unitHandling': 'VERIFY', 'nanHandling': 'OFF', 'language': 'FASTEXPR', 'visualization': False}, 'regular': '0.382*group_rank(fnd6_capxv / cap , subindustry) + 0.618*group_rank(open/close, subindustry)', 'status': 'COMPLETE', 'alpha': 'Z7ndYrn'})
('9XrdNpx', {'id': '4cKPjw4XC56CcvtFp4xIMLn', 'type': 'REGULAR', 'settings': {'instrumentType': 'EQUITY', 'region': 'USA', 'universe': 'TOP3000', 'delay': 1, 'decay': 5, 'neutralization': 'INDUSTRY', 'truncation': 0.08, 'pasteurization': 'ON', 'unitHandling': 'VERIFY', 'nanHandling': 'OFF', 'language': 'FASTEXPR', 'visualization': False}, 'regular': '0.382*group_rank(fnd6_capxv / cap , subindustry) + 0.618*group_rank(open/close, subindustry)', 'status': 'COMPLETE', 'alpha': '9XrdNpx'})
('7j1mE5x', {'id': '33sfQQefu4IHaz5PHrPp2rW', 'type': 'REGULAR', 'settings': {'instrumentType': 'EQUITY', 'region': 'USA', 'universe': 'TOP3000', 'delay': 1, 'decay': 6, 'neutralization': 'INDUSTRY', 'truncation': 0.08, 'pasteurization': 'ON', 'unitHandling': 'VERIFY', 'nanHandling': 'OFF', 'language': 'FASTEXPR', 'visualization': False}, 'regular': '0.382*group_rank(fnd6_capxv / cap , subindustry) + 0.618*group_rank(open/close, subindustry)', 'status': 'COMPLETE', 'alpha': '7j1mE5x'})
('kj0Geb6', {'id': '2FStLyexh4VUbMv3w95gQ6U', 'type': 'REGULAR', 'settings': {'instrumentType': 'EQUITY', 'region': 'USA', 'universe': 'TOP3000', 'delay': 1, 'decay': 7, 'neutralization': 'INDUSTRY', 'truncation': 0.08, 'pasteurization': 'ON', 'unitHandling': 'VERIFY', 'nanHandling': 'OFF', 'language': 'FASTEXPR', 'visualization': False}, 'regular': '0.382*group_rank(fnd6_capxv / cap , subindustry) + 0.618*group_rank(open/close, subindustry)', 'status': 'COMPLETE', 'alpha': 'kj0Geb6'})
('pjlGnqV', {'id': '2SCacJbz64LFcfVgAas2qNP', 'type': 'REGULAR', 'settings': {'instrumentType': 'EQUITY', 'region': 'USA', 'universe': 'TOP3000', 'delay': 1, 'decay': 8, 'neutralization': 'INDUSTRY', 'truncation': 0.08, 'pasteurization': 'ON', 'unitHandling': 'VERIFY', 'nanHandling': 'OFF', 'language': 'FASTEXPR', 'visualization': False}, 'regular': '0.382*group_rank(fnd6_capxv / cap , subindustry) + 0.618*group_rank(open/close, subindustry)', 'status': 'COMPLETE', 'alpha': 'pjlGnqV'})

In [6]:
a, b, c = wqb.get_alpha_info('1wdLdeX')

In [9]:
c

{'schema': {'name': 'yearly-stats',
  'title': 'Yearly Stats',
  'properties': [{'name': 'year', 'title': 'Year', 'type': 'year'},
   {'name': 'pnl', 'title': 'PnL', 'type': 'amount'},
   {'name': 'bookSize', 'title': 'Book Size', 'type': 'amount'},
   {'name': 'longCount', 'title': 'Long Count', 'type': 'integer'},
   {'name': 'shortCount', 'title': 'Short Count', 'type': 'integer'},
   {'name': 'turnover', 'title': 'Turnover', 'type': 'percent'},
   {'name': 'sharpe', 'title': 'Sharpe', 'type': 'decimal'},
   {'name': 'returns', 'title': 'Returns', 'type': 'percent'},
   {'name': 'drawdown', 'title': 'Drawdown', 'type': 'percent'},
   {'name': 'margin', 'title': 'Margin', 'type': 'permyriad'},
   {'name': 'fitness', 'title': 'Fitness', 'type': 'decimal'},
   {'name': 'stage', 'title': 'Stage', 'type': 'string'}]},
 'records': [['2017',
   377096.0,
   20000000,
   1571,
   1526,
   0.4209,
   1.31,
   0.0806,
   0.0321,
   0.000383,
   0.57,
   'IS'],
  ['2018',
   1028512.0,
   20000000,
   1504,
   1615,
   0.4325,
   1.71,
   0.1024,
   0.027,
   0.000474,
   0.83,
   'IS'],
  ['2019',
   1469418.0,
   20000000,
   1640,
   1467,
   0.4378,
   2.57,
   0.1458,
   0.0365,
   0.000666,
   1.48,
   'IS'],
  ['2020',
   918802.0,
   20000000,
   1588,
   1514,
   0.4447,
   0.94,
   0.0994,
   0.0758,
   0.000447,
   0.44,
   'IS'],
  ['2021',
   523580.0,
   20000000,
   1577,
   1576,
   0.4302,
   0.42,
   0.0519,
   0.0985,
   0.000241,
   0.15,
   'IS'],
  ['2022',
   75810.0,
   20000000,
   1463,
   1677,
   0.4213,
   0.14,
   0.0141,
   0.0779,
   6.7e-05,
   0.03,
   'IS']]}

In [17]:
import pandas as pd
s = pd.DataFrame(c['records'], columns=[i['name']for i in c['schema']['properties']])

# 统计计算
s.describe()

,pnl,bookSize,longCount,shortCount,turnover,sharpe,returns,drawdown,margin,fitness
count,6.000000e+00,6.0,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,7.322030e+05,20000000.0,1557.166667,1562.500000,0.431233,1.181667,0.082367,0.057967,0.000380,0.583333
std,5.033052e+05,0.0,63.389011,75.965124,0.009302,0.888446,0.045402,0.029823,0.000206,0.525268
min,7.581000e+04,20000000.0,1463.000000,1467.000000,0.420900,0.140000,0.014100,0.027000,0.000067,0.030000
25%,4.137170e+05,20000000.0,1520.750000,1517.000000,0.423525,0.550000,0.059075,0.033200,0.000276,0.222500
50%,7.211910e+05,20000000.0,1574.000000,1551.000000,0.431350,1.125000,0.090000,0.056150,0.000415,0.505000
75%,1.001084e+06,20000000.0,1585.250000,1605.250000,0.436475,1.610000,0.101650,0.077375,0.000467,0.765000
max,1.469418e+06,20000000.0,1640.000000,1677.000000,0.444700,2.570000,0.145800,0.098500,0.000666,1.480000

In [18]:
s

,year,pnl,bookSize,longCount,shortCount,turnover,sharpe,returns,drawdown,margin,fitness,stage
0,2017,377096.0,20000000,1571,1526,0.4209,1.31,0.0806,0.0321,0.000383,0.57,IS
1,2018,1028512.0,20000000,1504,1615,0.4325,1.71,0.1024,0.0270,0.000474,0.83,IS
2,2019,1469418.0,20000000,1640,1467,0.4378,2.57,0.1458,0.0365,0.000666,1.48,IS
3,2020,918802.0,20000000,1588,1514,0.4447,0.94,0.0994,0.0758,0.000447,0.44,IS
4,2021,523580.0,20000000,1577,1576,0.4302,0.42,0.0519,0.0985,0.000241,0.15,IS
5,2022,75810.0,20000000,1463,1677,0.4213,0.14,0.0141,0.0779,0.000067,0.03,IS